.formContainer {
  display: flex;
  min-height: 400px;
  align-items: center;
  justify-content: center;
}

.account-form > input {
  border: 0;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 1rem;
  font-family: Nunito, sans-serif;
  color: #000;
  border-radius: 5px;
}
