.dashboard {
  display: flex;
  min-height: 150px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  flex-wrap: wrap;
}

#classroom-list-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.classroom-card {
  text-decoration: none;
  color: inherit;
}

#progress-bar-container-super {
  display: flex;

  justify-content: center;
  padding-top: 80px;
}

#progress-bar-container {
  width: 15rem;
  animation: zoom-in 0.8s normal forwards 1;
}

@keyframes zoom-in {
  from {
    transform: scale(0.6);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
